.abut-right {
    padding-right: 0;
    margin-left: 0;
}

.abut-left {
    padding-left: 0;
    margin-left: 0;
}

.btn {
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.login-label {
    padding: 0 0 0 0;
}

.logo {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.title {
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.nav-elem {
    /*display: inline-block;*/
    margin: 0 0 0 0;
}